<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769833071390-k66h2qq5oh6p0n4co042mbcaa6joajom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769833071390-k66h2qq5oh6p0n4co042mbcaa6joajom</string>
	<key>API_KEY</key>
	<string>AIzaSyChLE9nfjwlbgc8DcCSsEiJmKYcdA_bEyg</string>
	<key>GCM_SENDER_ID</key>
	<string>769833071390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lulamoon.push-notification</string>
	<key>PROJECT_ID</key>
	<string>myfirstbase-c1e0c</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstbase-c1e0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769833071390:ios:1072f92cff4eaad1f00f0f</string>
	<key>DATABASE_URL</key>
	<string>https://myfirstbase-c1e0c.firebaseio.com</string>
</dict>
</plist>